/* Entire page styling */
:root {
    --theme-color-1: #7c7a7a;
 --theme-color-2: #ffc0cb;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color: #f8edeb;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }

/* Hero section styling */

#hero-image {
    grid-area: hero-image;
    height: 475px;
    width: 600px;
    align-self: center;
    justify-self: center;
    padding-top: 10px;
  
  }



  /* Main project section */



/* Skills section styling */

.skills {
    border: solid 2px var(--theme-color-2);
}

/* Work portfolio */

.work-heading {
  border: solid 2px var(--theme-color-2);
}


.project {
  border: solid 2px var(--theme-color-2);
}


/* Footer */

.footer {
    border: solid 2px var(--theme-color-2);
}