/* Entire page styling */
:root {
    --theme-color-1: #7c7a7a;
 --theme-color-2: #ffc0cb;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color: #f8edeb;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }

/* Hero section styling */

#hero-image {
    grid-area: hero-image;
    height: 300px;
    width: 400px;
    align-self: center;
    justify-self: center;
    padding-top: 10px;
  
  }

  .jumbotron {
    height: 400px;
  }

 #hero-headline {
  align-self: center;
  justify-self: center;
  font-size: 200%;
  font-family: 'Open Sans', sans-serif;
  color: var(--theme-color-1);
 }
 
/* Heading styling */

.section-heading {
  align-self: center;
  justify-self: center;
  font-size: 200%;
  font-family: 'Open Sans', sans-serif;
  color: var(--theme-color-1);
  border-bottom: 2px solid var(--theme-color-2);
  
}

/*  Work section styling */

h2 {
  padding: 4%;
  border-bottom: 2px solid var(--theme-color-2);
}

.small-project {
  height: 500px;
  width: 500px;
}

#skills-section {
  padding: 2%;
}

/* Image hover effects */



.project {
padding: 1%;
  opacity: 0.8;
  
}

.project:hover {
  opacity: 1; 
  transition: all 0.2s ease 0s;
}




/* Footer styling */

.footer {
  display: flex;
  justify-content: space-evenly;
    padding: 2.5%;
}

a:link {
  text-decoration: none !important;
 }

button {
  white-space: nowrap;
  align-items: center;
  background-color: #ffdeda;
  border: 1px solid var(--theme-color-2);
  border-radius: 50px;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  margin: 10px;
}

button:hover {
 text-decoration: none;
 box-shadow: 5px 5px 4px var(--theme-color-1);
}
