



/* Skills section styling */

.skills {
    border: solid 2px black;
}

/* Work portfolio */

.work-heading {
    border: solid 2px black;
}


.project {
    border: solid 2px black;
}


/* Footer */

.footer {
    border: solid 2px black;
}